body {
	font-family: 'Franklin Gothic Medium', sans-serif;
	background-color: #F0F0F0;
}

h2 {
    font-weight: normal;
}

canvas {
    border-radius: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#content {
	width: 80%;
	margin: auto;
	text-align: center;
}
